<img src="/Images/buffySummers.gif" alt="">
<h1>Buffy Summers</h1>
<p>from</p>
<h3>Buffy the Vampire Slayer</h3>
<p>created by</p>
<h3>Joss Whedon</h3>
<p>List of Accomplishments:</p>
<ul>
  <li>The first slayer to distribute slayer powers to all potentials</li>
  <li>Maintained a passing grade in school, was a cheerleader, and kept a social life ON TOP of being the slayer</li>
  <li>Protective and kind friend</li>
  <li>Killer dance moves</li>
  <li>One of the most notable feminist icons of the 90's</li>
  <li>Passes Bechdel Test with flying colors</li>
</ul>
<p>Flaws:</p>
<ul>
  <li>Monologuing</li>
  <li>Feminist icon designation does not withstand the test of time</li>
  <li>Leather pants???</li>
</ul>
